@media(max-width: 800px) or (max-aspect-ratio: 0.8) {
    .main {
        height: fit-content !important;
        row-gap: 16px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .input-area,
    .output-area,
    .instructions-area {
        width: 80% !important;
        min-width: 320px;
        height: 80vh !important;
    }
}

textarea {
    font-size: 20px;
}

html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background-color: #090c16;
}

h3 {
    margin: 0;
    padding: 0;
}

.title {
    height: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 60px;
}

.main {
    height: calc(100% - 60px);
    padding: 0px 8px 8px 8px;
    display: flex;
    background-color: #090c16;
    column-gap: 2%;
    box-sizing: border-box;
}

.main * {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.main *::-webkit-scrollbar {
    display: none;
}

.highlighted {
    background-color: #b53;
}

.instructions-area {
    width: 32%;
    min-width: 320px;
    border-radius: 8px;
    max-height: 100%;
}

.instruction-list {
    overflow-y: auto;
    border-radius: 8px 8px 0px 0px;
    max-height: calc(100% - 40px);

    background-color: #090c16;

    display: flex;
    flex-direction: column;
    row-gap: 2px;
    padding-bottom: 4px;
    box-sizing: border-box;
}

.instruction-item {
    height: 24px;
    display: grid;
    grid-template-columns: calc(20% - 12px) 34% calc(19% - 20px) 27% 24px;
    grid-column-gap: 2px;
}

.instruction-item input {
    height: 100%;
    width: 100%;
    color: white;
    background-color: #12151d;
    border: none;
    border-radius: 4px;
    padding: 0px 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.instruction-item input:hover {
    background-color: #1c2129;
}

.instruction-code {
    position: relative;
}

.instruction-code input {
    padding-left: 17px;
    font-size: 13px;
}

.input-prefix {
    color: white;
    position: absolute;
    left: 4px;
    top: 48%;
    transform: translateY(-43%);
    font-size: 13px;
    font-weight: 400;
}

.instruction-item input:focus {
    outline: none;
}

.instruction-item select {
    height: 100%;
    width: 100%;
    color: white;
    background-color: #12151d;
    border: none;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 104%;
}

.instruction-item select:hover {
    cursor: pointer;
    background-color: #1c2129;
}

.instruction-item button {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    color: white;
    background-color: #12151d;
    font-weight: 100;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.instruction-item button:hover {
    cursor: pointer;
    background-color: #1c2129;
}

.input-area,
.output-area {
    width: 32%;
    height: 100%;
    background-color: #12151d;
    border-radius: 8px;
}

.main .CodeMirror {
    height: calc(100% - 40px);
    border-radius: 8px;
}

.main>*>button {
    height: 40px;
    width: 100%;
    padding: 0px;
    color: white;
    font-weight: 100;
    font-size: 1em;
    background-color: #12151d;
    border: none;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.output-area button {
    width: 50%;
}

button:hover {
    cursor: pointer;
    background-color: #1c2129 !important;
}

.failed-instruction * * {
    background-color: #b53 !important;
}

#info-button {
    color: white;
    background-color: #12151d;
    border: none;
    border-radius: 8px;
    position: absolute;
    right: 0%;
    margin: 8px;
    height: 44px;
    width: 44px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 100;
}

.pop-up {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background-color: #0004;
    z-index: 100;
}

.pop-area {
    margin: 5vh 10vw;
    width: 80%;
    height: 90%;
    border-radius: 16px;
    background-color: #12151d;
}

.pop-text {
    height: 92%;
    padding: 12px;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    overflow-y: auto;
}

.pop-button-area {
    height: 8%;
}

.pop-button-area button {
    height: 100%;
    border: none;
    border-radius: 0px 0px 16px 16px;
    width: 100%;
    color: white;
    font-weight: 100;
    font-size: 18px;
    background-color: #12151d;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #12151d;
}

::-webkit-scrollbar-thumb {
    background: #334;
    border-radius: 10px;
}